@using System.Collections.Generic;
@model IEnumerable<StrongMe.Web.ViewModels.Instructor.Exercises.SingleExerciseViewModel>
<div id="exercise-all" class="container exercise-list">
    @foreach (var exercise in Model)
    {
        <div class="exercise-item" id="exercise@(exercise.Id)" data-exerciseid="@exercise.Id">
            <h4>@exercise.Name</h4>
            <h5>@exercise.CategoryName / @exercise.BodyPartName</h5>
            <div class="box-shadow">
                <img class="img-fluid" src="@exercise.ImageUrl" alt="@exercise.Name" />
            </div>
            <input type="button" class="btn btn-primary exercise-item-add" data-exerciseid="@exercise.Id" Value="Add to template" />
        </div>
    }
</div>
