@model StrongMe.Web.ViewModels.Instructor.TemplatePrograms.TemplateProgramListViewModel
@using StrongMe.Web.ViewModels.Instructor.Common;
@{
    this.ViewData["Title"] = "Program Templates, page " + Model.PageNumber;
}

<h1>@this.ViewData["Title"]</h1>
<br />

<div class="container">
    <div class="row">
        <a class="btn btn-secondary" asp-area="Instructor" asp-controller="TemplatePrograms" asp-action="Create">New Template Program</a>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" style="width:90%">Name</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var templateProgram in Model.TemplatePrograms)
                {
                    <tr>
                        <td>
                            <a asp-area="Instructor" asp-controller="TemplatePrograms" asp-action="ById" asp-route-id="@templateProgram.Id"> @templateProgram.Name</a>
                        </td>
                        <td>
                            <a class="btn btn-secondary" asp-area="Instructor" asp-controller="TemplatePrograms" asp-action="Edit" asp-route-id="@templateProgram.Id">Edit</a>
                        </td>
                        <td>
                            <form method="post" asp-area="Instructor" asp-controller="TemplatePrograms" asp-action="Delete" id=@($"deleteForm{templateProgram.Id}") asp-route-id="@templateProgram.Id">
                            </form>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
                            @{
                                var deleteModalInpudModel = new DeleteModalInputModel() { Name = templateProgram.Name, Id = templateProgram.Id };
                            }
                            <partial name="_DeleteModalPartial" model=@deleteModalInpudModel />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<partial name="_PagingPartial" model="@Model" />