@model StrongMe.Web.ViewModels.Instructor.TemplatePrograms.SingleTemplateProgramViewModel
@using StrongMe.Web.ViewModels.Instructor.Common;
@{
    this.ViewData["Title"] = Model.Name;
}

<h1>@this.ViewData["Title"]</h1>
<br />
<div class="container">
    <div class="row">
        <a class="btn btn-secondary" asp-area="Instructor" asp-controller="TemplatePrograms" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <form method="post" asp-area="Instructor" asp-controller="TemplatePrograms" asp-action="Delete" id=@($"deleteForm{Model.Id}") asp-route-id="@Model.Id">
        </form>
        <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
    </div>
</div>
<br />

@foreach (var detail in Model.Details)
{
    <div class="row col-md-12">
        <h3>@detail.ExerciseName</h3>
    </div>
    <div class="row box-shadow col-md-6">
        <img class="img-fluid" src="@detail.ImageUrl" alt="@detail.ExerciseName" />
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Series Count</th>
                <th scope="col">Repetitions</th>
                <th scope="col">Break</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@detail.SeriesCount</td>
                <td>@detail.Repetitions</td>
                <td>@detail.Break</td>
            </tr>
        </tbody>
    </table>
    <hr />
}
@{
    var deleteModalInpudModel = new DeleteModalInputModel() { Name = Model.Name, Id = Model.Id };
}
<partial name="_DeleteModalPartial" model="@deleteModalInpudModel" />
